* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 15px;
  font-family: sans-serif;
  line-height: 1.2;
}
canvas {
  display: block;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
}
.modal .menu {
  padding: 16px;
  background: rgba(255,255,255,.9);
  width: 320px;
  height: 100%;
  box-shadow: 0 0 64px rgba(0, 0, 0, .5);
  overflow: auto;
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 100ms, 100ms;
  transition-timing-function: ease-out;
  transform: translate(-100%, 0);
}
.modal.show .menu {
  transform: translate(0, 0);
  opacity: 1;
}
.modal.show {
  pointer-events: auto;
}

.settings input[type="range"] {
  display: block;
  width: 100%;
  margin: 8px auto 0;
}
.settings input[type="checkbox"] {
  display: inline-block;
  margin-left: 1em;
}
.settings label {
  display: block;
  margin-bottom: 1em;
}

.toast {
  position: absolute;
  font-size: 2em;
  color: rgba(0, 0, 0, .9);
  bottom: 1em;
  left: 1em;
  right: 1em;
  text-align: center;
  pointer-events: none;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
}

.toast.show {
  opacity: 1;
}

.slides {
  position: absolute;
  font-size: 4em;
  top: 1em;
  left: 1em;
  right: 1em;
  color: rgba(0, 0, 0, .9);
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  text-align: center;
}

.slides.show {
  opacity: 1;
}

sub, sup {
  font-size: .6em;
}

h1, h2, h3 {
  margin: 1rem 0;
}
